body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
