body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

#outer {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    /* Set block height using the viewport height unit, and force it to be full height, even if the containing content does not require it */
    min-height: 100vh;
    /* center this block for larger viewports */
    margin: 0;
    /* Use min-width to prevent your design from being scrunched up in tiny viewports (and instead be replaced with horizontal scroll bars)
    */
    min-width: 18.75em;
}
#map {
    width: 100%;
    padding: 0;
    flex: 1;
}

#infopopup {
    position: absolute;
    z-index: 20;
    bottom: 30px;
    left: 10%;
    width: 80%;
    background: rgba(255,255,255,.75);
    padding: 8px;
    font-size: 24px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}

.topButton {
    background: #dddddd;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: none;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
}

.leftButton {
    background: #dddddd;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.chartBtn {
    position: absolute;
    right: 10px;
    z-index: 10;
    font-size: 30px;
    border: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 0 0 0 6px;
    border-top: none;
    background: rgba(150, 150, 150, .7);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
